{{ define "main" }}

{{ $vid := .Resources.GetMatch (printf "**%s" .Params.filename) }}
{{ $poster := .Resources.GetMatch (printf "**%s" .Params.poster) }}
{{ $posterthumb := $poster.Resize "600x q100"}}
<div class="recording-item">
  {{ $date := dateFormat "2006-01-02" .Params.date }}
  <div class="recording-title">
    {{ .Title | markdownify }}
  </div>
  {{ if ne .Params.subtitle ""}}
  <div class="recording-subtitle">
    {{ .Params.subtitle | markdownify }}
  </div>
  {{ end }}

  <div class="recording-meta meta-break">
    <span class="meta-text">Composed by</span>
    <span class="meta-emph">{{ .Params.composer | markdownify }}</span>
  </div>
  <div class="recording-meta meta-break">
    {{ if ne .Params.arranger ""}}
    <span class="meta-text longshort" data-long="and arranged by" data-short="Arranged by"></span>
    <span class="meta-emph">{{ .Params.arranger | markdownify }}</span>
    {{ end }}
  </div>

  <div class="recording-meta">
    <span class="meta-text">Posted in</span>
    <span class="meta-emph">
      {{ range $index, $author := .Params.genres }}
      {{ if $index }},{{ end }}
      <a href="{{ "genres/" | absURL}}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </span>
    <span class="meta-text">on</span>
    <span class="meta-emph longshort" data-short="{{- .Params.date | dateFormat "Jan 2" -}}"
      data-long="{{- .Params.date | dateFormat "January 2, 2006" -}}">
    </span>
    <span class="meta-text longshort" data-short="" data-long="by">
    </span>
    <span class="meta-emph longshort" data-short="" data-long="Luyan Yu">
    </span>
  </div>

  <figure class="recordings-recording" data-date="{{- $date -}}" data-tags="{{- delimit .Params.genres "," -}}">
    <video id="recording-video" poster="{{- $posterthumb.RelPermalink -}}" class='video-js vjs-default-skin' controls
      preload='auto' data-setup='{}'>
      <source src="{{ replace $vid.RelPermalink ".mp4" "-1080p.mp4" }}" type='video/mp4' label='1080p'>
      <source src="{{ replace $vid.RelPermalink ".mp4" "-720p.mp4" }}" type='video/mp4' label='720p'>
      <source src="{{ replace $vid.RelPermalink ".mp4" "-480p.mp4" }}" type='video/mp4' label='480p'>
      <source src="{{ replace $vid.RelPermalink ".mp4" "-360p.mp4" }}" type='video/mp4' label='360p'>
      <source src="{{ replace $vid.RelPermalink ".mp4" "-240p.mp4" }}" type='video/mp4' label='240p' selected="true">
      <p class='vjs-no-js'>
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
      </p>
    </video>
  </figure>
  <script>
    videojs('recording-video').controlBar.addChild('QualitySelector')
    //videojs('recording-video').mobileUi()
  </script>

  <div class="recording-download">
    <span class="download-label">Download:</span>
    <a href="{{ replace $vid.RelPermalink ".mp4" "-1080p.mp4" }}" class="btn-normal" download>1080p</a>
    <a href="{{ replace $vid.RelPermalink ".mp4" "-720p.mp4" }}" class="btn-normal" download>720p</a>
    <a href="{{ replace $vid.RelPermalink ".mp4" "-480p.mp4" }}" class="btn-normal" download>480p</a>
    <a href="{{ replace $vid.RelPermalink ".mp4" "-360p.mp4" }}" class="btn-normal" download>360p</a>
    <a href="{{ replace $vid.RelPermalink ".mp4" "-240p.mp4" }}" class="btn-normal" download>240p</a>
  </div>

  {{ .Content | markdownify }}

  <div class="license has-icon">
    <i data-feather="flag"></i>
    This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons
      Attribution 4.0 International License</a>.
  </div>

</div>


{{ end }}