<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
{{ partial "home/head.html" . }}
<body>
	<div class="container wrapper">
        {{ partial "language-select.html" . }}
        <img class="image404" src="404.png" alt="404 not found">
        <div class="text404">Brain not Found</div>
		<div class="returnhome">
            <a href="/" class="btn-normal has-icon"><i data-feather="arrow-left-circle"></i>Return to homepage</a>
        </div>
	</div>
	{{ partial "footer.html" . }}
</body>

</html>