<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
{{ partial "home/head.html" . }}

<body>
	<div class="container wrapper">
		{{ partial "home/header.html" . }}
		{{ partial "home/introduction.html" . }}
		{{ partial "home/publications.html" . }}
		{{ partial "home/talks.html" . }}
		{{ partial "home/softwares.html" . }}
	</div>
	<div>
		{{ partial "home/citation.html" . }}
	</div>
	{{ partial "footer.html" . }}
	{{ partial "home/footer.html" . }}


	{{ partial "mathjax.html" . }}
</body>

</html>