<div class="blog-section">
	<div class="blog-gallery">

		<div class="blog-gallery-block" itemscope itemtype="http://schema.org/ImageGallery">
			{{ range where .Site.Pages "Type" "gallery" }}
			{{ $cat := . }}
			{{ range .Params.images }}
			{{ $img := $cat.Resources.GetMatch (printf "**%s" .filename)}}
			{{ $thumb := $img.Resize "400x q80"}}
			{{ $placeholder := $img.Resize "40x q30" | images.Filter (images.GaussianBlur 6) }}
			{{ $large := $img.Resize "900x q100"}}
			{{ $date := dateFormat "2006-01-02" (cond (eq $cat.Params.category "Travel") $cat.Params.date .date) }}
			<figure class="gallery-figure gallery-figure-initial gallery-figure-show"
				data-category="{{- $cat.Params.category -}}" data-date="{{- $date -}}"
				data-location="{{- $cat.Params.location -}}" data-tags="{{- delimit .tags "," -}}"
				itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
				<a href="{{- $large.Permalink -}}" itemprop="contentUrl"
					data-size="{{- $large.Width -}}x{{- $large.Height -}}">
					<img src="{{- $placeholder.Permalink -}}" data-src="{{- $thumb.Permalink -}}" itemprop="thumbnail"
						alt="{{- .caption -}}" />
				</a>
				<figcaption itemprop="caption description">
					<p class="text">
						{{- .caption -}}
					</p>
					<p class="meta">
						Shot
						{{ if (isset $cat.Params "location") }}
						in <span class="location">{{- $cat.Params.location -}}</span>
						{{ end }}
						on <span class="date">{{- dateFormat "January 02, 2006" $date -}}</span>
					</p>
					<p class="meta">
						Tags: <span>{{- delimit .tags ", " -}}</span>
					</p>
				</figcaption>
			</figure>
			{{ end }}
			{{ end }}
		</div>

	</div>
</div>

<script>
	function init() {
		var imgDefer = document.getElementsByTagName('img');
		for (var i = 0; i < imgDefer.length; i++) {
			if (imgDefer[i].getAttribute('data-src')) {
				imgDefer[i].setAttribute('src', imgDefer[i].getAttribute('data-src'));
			}
		}
	}
	window.addEventListener("load", init);
</script>


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
	<!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
	<div class="pswp__bg"></div>
	<!-- Slides wrapper with overflow:hidden. -->
	<div class="pswp__scroll-wrap">
		<!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
		<!-- don't modify these 3 pswp__item elements, data is added later on. -->
		<div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
		</div>
		<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
		<div class="pswp__ui pswp__ui--hidden">
			<div class="pswp__top-bar">
				<!--  Controls are self-explanatory. Order can be changed. -->
				<div class="pswp__counter"></div>
				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
				<button class="pswp__button pswp__button--share" title="Share"></button>
				<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
				<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
				<!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
				<!-- element will get class pswp__preloader--active when preloader is running -->
				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
						<div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
				<div class="pswp__share-tooltip"></div>
			</div>
			<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
			</button>
			<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
			</button>
			<div class="pswp__caption">
				<div class="pswp__caption__center"></div>
			</div>
		</div>
	</div>
</div>