<div class="blog-section">

	{{ $paginator := .Paginate (where .Site.Pages "Type" "posts") .Site.Params.blog.postsPerPage }}
	{{ range $paginator.Pages }}
	<div class="postitem">
		<div class="posttitle">
			<a href="{{ .Permalink }}" class="link-normal"> {{ .Title | markdownify}} </a>
		</div>
		{{ if ne .Params.subtitle ""}}
		<div class="postsubtitle">
			{{ .Params.subtitle | markdownify}}
		</div>
		{{ end }}

		<div class="postmeta">
			<span class="metatext">
				Posted in 
			</span>
			<span class="metaitem">
				{{ range $index, $author := .Params.tags }}
				{{ if $index }},{{ end }}
				<a href="{{ "tags/" | absURL}}{{ . | urlize }}" class="link-normal">{{ . }}</a>
				{{ end }}
			</span>
			<span class="metatext">
				on
			</span>
			<span class="metaitem longshort" data-short="{{- .Params.date | dateFormat "Jan 2" -}}" data-long="{{- .Params.date | dateFormat "January 2, 2006" -}}">
			</span>
			<span class="metatext longshort" data-short="" data-long="by">
			</span>
			<span class="metaitem longshort" data-short="" data-long="
				{{ range $index, $author := .Params.authors }}
					{{ if $index }},{{ end }}
					{{ if eq $author "me"}}
						{{- $.Site.Title | markdownify -}}
					{{ else }}
						{{- $author | markdownify -}}
					{{ end }}
				{{ end }}
			">
			</span>
		</div>

		<div class="post-summary markdown-body">
			{{ range .Params.preview }}
				<p>{{- . | markdownify -}}</p>
			{{ end }}
			<div class="cont-read has-icon">
				<a href="{{ .Permalink }}" class="btn-normal">
				Continue reading
				<i data-feather="arrow-right-circle"></i></a>
			</div>
		</div>

		<div class="post-sep">
			<img src="/post-sep-white.svg" />
		</div>

	</div>
	{{ end }}
	{{ template "partials/paginator.html" . }}
</div>