:root {
    --primary-font: myriad-pro, sans-serif;
}

body {
    font-family: var(--primary-font);
    color: white;
    font-size: 300%;
    display: flex;
    justify-content: center;
}

.birthday {
    background-color: #000;
}

#pwd-input {
    margin-top: 80px;
}

#pwd-input div {
    display: flex;
    justify-content: center;
    
}

#my-video {
    display: none;
    margin-top: 100px;
}

input[type=text], textarea {
    transition: all 0.10s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 25px #aaafb1;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #aaafb1;
}

#pwd-digits {
    margin-top: 50px;
    margin-bottom: 50px;
}

#pwd-digits .digit {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    border: none;
    border-color: transparent;
    margin: 8px;
    font-family: var(--primary-font);
    font-size: 100%;

    color: transparent;
    text-shadow: 0 0 0 rgba(53, 53, 53);
}

#pwd-confirm svg {
    width: 55px;
    height: 55px;
    margin-right: 0px;
    position: relative;
    top: 0px;
    color: white;
    cursor: pointer;
  }

#pwd-confirm svg {
    transition: all 0.10s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

#pwd-confirm svg:focus {
    text-shadow: 0 0 25px #aaafb1;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    color: red;
}

  #roller {
  }

  .lds-roller {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  