{{ define "main" }}
<div class="project-page">
    <div class="project-title">{{ .Title }}</div>
    <div class="project-thumbnail">
        {{ if isset .Params "thumbnailsize" }}
        {{ if isset .Params "thumbnaildark" }}
        <img style="visibility: hidden;"  src="" width="{{ .Params.thumbnailsize }}"
            data-src-light="{{ .RelPermalink }}{{ .Params.thumbnail }}"
            data-src-dark="{{ .RelPermalink }}{{ .Params.thumbnaildark }}">
        {{ else}}
        <img src="{{ .RelPermalink }}{{ .Params.thumbnail }}" width="{{ .Params.thumbnailsize }}">
        {{ end }}
        {{ else }}
        {{ if isset .Params "thumbnaildark" }}
        <img style="visibility: hidden;"  src=""
            data-src-light="{{ .RelPermalink }}{{ .Params.thumbnail }}"
            data-src-dark="{{ .RelPermalink }}{{ .Params.thumbnaildark }}">
        {{ else}}
        <img src="{{ .RelPermalink }}{{ .Params.thumbnail }}">
        {{ end }}
        {{ end }}
    </div>
    <div class="project-text markdown-body">
        {{ .Content | markdownify}}
    </div>
</div>

<div class="returnhome">
    <a href="/projects" class="btn-normal has-icon"><i data-feather="arrow-left-circle"></i>Return to projects</a>
</div>
{{ end }}