<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {{- $title := ( .Title ) -}}
        {{- $siteTitle := ( .Site.Title ) -}}
        {{- if .IsHome -}}
        <title>{{ $siteTitle }} {{- if isset .Site.Params "subtitle" -}} - {{ .Site.Params.Subtitle }}{{- end -}} </title>
        {{- else -}}
        <title>{{ $title }} - {{ $siteTitle }}</title>
        {{- end -}}
    
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="Luyan Yu">
        <meta name="application-name" content="Luyan Yu">
        <meta name="msapplication-TileColor" content="#1976d2">
        <meta name="theme-color" content="#000000">
    
        <meta name="description" content="{{ .Site.Params.sedescription }}">
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
    
        {{- template "_internal/opengraph.html" . -}}
        {{- template "_internal/twitter_cards.html" . -}}
        <!--<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic|Raleway:500,100,300" rel="stylesheet">-->
        <link rel="stylesheet" href="https://use.typekit.net/wcn1jgf.css">
    
        <!--<link rel="stylesheet" type="text/css" media="screen" href="css/normalize.css" />-->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/birthday.css" />
    
        {{- if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}}
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        {{- else if (isset .Site.Params "social") -}}
        <script src="{{ .Site.BaseURL }}js/feather.min.js"></script>
        {{- end -}}
    
        <script src="{{ .Site.BaseURL }}js/birthday.js"></script>

        <!-- For Video.js -->
        <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">
        <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
        <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
      </head>
      

      <body class="birthday">
        <div id="pwd-input">
            <div><span>Please enter the password</span></div>
            <div id="pwd-digits"></div>
            <div id="pwd-confirm">
                <i id="enter" data-feather="arrow-right-circle"></i>
            </div>
            <div id="roller" style="display:none;">
                <div class="lds-roller">
                        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                </div>
            </div>
        </div>


        <video id='my-video' class='video-js' controls preload='auto' width='640' height='264'
        poster='Video_Poster.jpg' data-setup='{}'>
          <source src='Video.mp4' type='video/mp4'>
          <p class='vjs-no-js'>
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
          </p>
        </video>
      
        <script src='https://vjs.zencdn.net/7.6.5/video.js'></script>
      </body>
    

    {{ template "_internal/google_analytics_async.html" . }}
    {{- with .Site.Params.Social -}}
    <script> feather.replace() </script>
    {{- end -}}
</html>
