.sep-horizon {
  transition: border-top-color 0.9s ease-in-out;
  border-top: var(--secondary-color) 1px solid;
  opacity: 0.5;
}

.blog-header {
  width: 100%;
  margin-bottom: 25px;
  .blog-title {
    text-align: center;
    margin-top: 40px;
    a {
      transition: color 0.9s ease-in-out;
      color: var(--primary-color-dark);
      font-family: benton-modern-display, serif;
      font-weight: 600;
      font-style: normal;
      text-decoration: none;
      border: 0;
      @media (max-width: 600px) {
        font-size: 35px;
      }
      @media (min-width: 600px) {
        font-size: 50px;
      }
      &:hover {
        color: var(--primary-color);
      }
    }
    .sep-horizon {
      margin-top: 2px;
      margin-bottom: 5px;
      margin-left: unquote("calc(50% - 50px)");
      width: 100px;
    }
  }
  .blog-quote {
    text-align: center;
    margin-top: -5px;
    margin-bottom: 30px;
    .quote,
    .quote-name {
      color: var(--secondary-color-dark);
      opacity: 0.7;
      font-family: var(--secondary-font);
    }
    .quote {
      font-style: italic;
      span {
        display: inline-block;
      }
      @media (max-width: 685px) {
        font-size: var(--primary-font-size-small);
      }
    }
    .quote-name {
      text-align: right;
      margin-right: 20%;
      margin-top: -10px;
      font-style: normal;
      @media (max-width: 685px) {
        font-size: var(--primary-font-size-small);
      }
    }
  }

  .blog-links {
    user-select: none;
    min-width: 320px;
    text-align: center;
    a,
    span {
      font-weight: var(--primary-font-weight);
      @media (min-width: 440px) {
        font-size: var(--primary-font-size);
      }

      @media (max-width: 440px) {
        font-size: var(--primary-font-size-small);
      }
    }
    .sep-horizon {
      margin-top: 5px;
      margin-bottom: 5px;
      @media (min-width: 600px) {
        margin-left: 10%;
        width: 80%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }

    .current-page-indi {
      color: var(--secondary-text-color);
      cursor: not-allowed;
      text-decoration: none;
      pointer-events: none;
      margin-left: 0px;
      margin-right: 0px;
      font-weight: var(--primary-font-weight);
      @media (min-width: 440px) {
        font-size: var(--primary-font-size);
      }
      @media (max-width: 440px) {
        font-size: var(--primary-font-size-small);
      }
    }

    .blog-link-more {
      position: relative;
      display: inline-block;
      font-size: 10px;
      bottom: 3px;
      @media (min-width: 440px) {
      }
      @media (max-width: 440px) {
      }
    }

    .page-indi-arr {
      display: inline;
      @media (max-width: 460px) {
        display: none;
      }
    }
    .sep-horizon {
      margin-top: 5px;
      margin-bottom: 5px;
      @media (min-width: 600px) {
        margin-left: 10%;
        width: 80%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
}

.postitem {
  text-align: center;
  margin-bottom: 40px;
  .posttitle {
    font-size: var(--primary-font-size-huge);
    font-weight: var(--primary-font-weight-light);
    color: var(--primary-color);
    margin-bottom: 8px;
  }
  .postsubtitle {
    font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight-light);
    color: var(--primary-color);
    margin-bottom: 12px;
  }
  .postmeta {
    font-style: italic;
    color: var(--secondary-color-dark);
    user-select: none;
    .metatext {
      opacity: 0.6;
    }
    .metaitem {
      display: inline-block;
      opacity: 1;
      margin-left: 2px;
      margin-right: 2px;
      a {
        color: var(--secondary-color-dark);
        margin-right: -2px;
        display: inline-block;
      }
    }
  }
  .post-summary {
    img,
    .cont-read {
      user-select: none;
      text-align: center;
      margin-top: 10px;
    }
  }

  .post-sep {
    user-select: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
    img {
      width: 25px;
    }
  }
}

.markdown-body {
  text-align: left;
  word-wrap: break-word;
  hyphens: auto;
  @media (min-width: 600px) {
    margin-left: 10%;
    margin-right: 10%;
  }
  @media (min-width: 440px) and (max-width: 600px) {
    margin-left: 5%;
    margin-right: 5%;
  }
  @media (max-width: 440px) {
    margin-left: 2%;
    margin-right: 2%;
  }
  h1,
  h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
  }
  & > a,
  & > p > a,
  & > ol > a,
  & > ul > a {
    text-decoration: none;
    outline: 0;
    border-bottom: solid 0.7px transparent;
    transition: color 0.3s ease-out, border-bottom-color 0.3s ease-out;
    color: var(--primary-color);
    &:hover {
      text-decoration: none;
      border-bottom: solid 0.7px;
      border-bottom-color: inherit;
    }
  }
  img {
    background-color: white;
    border-radius: 7px;
    @media (min-width: 800px) {
      &[src$="#center"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      &[src$="#floatleft"] {
        float: left;
        margin-right: 0.8rem;
        margin-left: -5%;
      }

      &[src$="#floatright"] {
        float: right;
        margin-left: 0.8rem;
        margin-right: -5%;
      }
    }

    @media (max-width: 800px) {
      &[src$="#center"] {
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%) scale(0.7);
      }
    }
  }

  figure {
    figcaption {
      font-style: italic;
      text-align: center;
      color: var(--secondary-color-dark);
      font-size: var(--primary-font-size-small);
      font-weight: var(--primary-font-weight-semibold);
    }
  }

  blockquote {
    background: var(--secondary-color-light);
    border-left: 5px solid var(--primary-color-light);
    margin: 1.5em 20px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
    a {
      text-decoration: none;
      outline: 0;
      border-bottom: solid 0.7px transparent;
      transition: color 0.3s ease-out, border-bottom-color 0.3s ease-out;
      color: var(--primary-color);
      &:hover {
        text-decoration: none;
        border-bottom: solid 0.7px;
        border-bottom-color: inherit;
      }
    }
  }
  blockquote:before {
    color: var(--primary-color-light);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  .inline-code {
    font-family: monospace, sans-serif;
    font-size: var(--primary-font-size-small);
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    padding-bottom: 2px;
    padding-top: 0px;
    border-radius: 4px;
    white-space: nowrap;
    transition: color 0.9s ease-in-out, background-color 0.9s ease-in-out;

    a {
      transition: color 0.3s ease-out;
      border: 0;
      text-decoration: none;
      cursor: pointer;
      svg {
        width: 10px;
        height: 10px;
        margin-left: 3px;
        position: relative;
        top: 1px;
      }
    }
    &.inline-code-default {
      background: var(--inline-code-default-background);
      color: var(--inline-code-default-color);
      a {
        color: var(--inline-code-default-color);
        &:hover {
          color: var(--inline-code-default-color-hover);
        }
      }
    }
    &.inline-code-mma {
      background: var(--inline-code-mma-background);
      color: var(--inline-code-mma-color);
      a {
        color: var(--inline-code-mma-color);
        &:hover {
          color: var(--inline-code-mma-color-hover);
        }
      }
    }
    &.inline-code-python {
      background: var(--inline-code-python-background);
      color: var(--inline-code-python-color);
      a {
        color: var(--inline-code-python-color);
        &:hover {
          color: var(--inline-code-python-color-hover);
        }
      }
    }
  }

  .highlight {
    transition: color 0.9s ease-in-out, background-color 0.9s ease-in-out; 
    font-size: var(--primary-font-size-small);
    background-color: var(--codeblock-background-color);
    max-height: 380px;
    overflow-y: scroll;
    white-space: nowrap;
    border-radius: 7px;
    margin-top: 5px;

    pre {
      overflow: auto;
      display: block;
      position: relative;
      margin-top: 3px;
      margin-bottom: 3px;
      margin-left: 6px;
      margin-right: 6px;
    }
    table {
      text-align: left;
    }
    z-index: 1;
    position: relative;
  }
  .copy-code-button {
    margin-right: 0.5em;
    margin-top: 0.3em;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 1.7em;
    height: 1.7em;
    color: black;
    background: var(--secondary-color-dark);
    opacity: 0.8;
    border: 0;
    border-radius: 50%;

    transition-property: background-color, color;
    transition-duration: 0.3s;

    /* right-align */
    display: block;
    margin-left: auto;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: white;
      background: #929292;
    }

    &:focus {
      background: #242424;
      outline: 0;
    }

    svg {
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      top: 0.25em;
      left: 0.25em;
    }
  }

  table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bibcite {
    .bibref-enum {
      text-decoration: none;
      outline: 0;
      border-bottom: solid 0.7px transparent;
      transition: color 0.3s ease-out, border-bottom-color 0.3s ease-out;
      color: var(--primary-color);
      &:hover {
        text-decoration: none;
        border-bottom: solid 0.7px;
        border-bottom-color: inherit;
      }

      user-select: none;
      display: inline-block;
      font-size: 10px;
      font-weight: var(--primary-font-weight-semibold);
      background-color: var(--secondary-color-dark);
      color: var(--primary-text-color);
      border-radius: 50%;
      width: 1.2em;
      line-height: 1.2em;
      text-align: center;
      margin-right: 1.5px;
      margin-left: -2px;

      transition-property: background-color, color;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      cursor: pointer;
      border-bottom: none;
      &:hover {
        background-color: var(--primary-color);
      }
    }
  }

  .bibref {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    .bibref-enum {
      text-decoration: none;
      outline: 0;
      border-bottom: solid 0.7px transparent;
      transition: color 0.3s ease-out, border-bottom-color 0.3s ease-out;
      color: var(--primary-color);
      &:hover {
        text-decoration: none;
        border-bottom: solid 0.7px;
        border-bottom-color: inherit;
      }

      user-select: none;
      display: inline-block;
      font-size: var(--primary-font-size-tiny);
      font-weight: var(--primary-font-weight-semibold);
      background-color: var(--secondary-color-dark);
      color: var(--primary-text-color);
      border-radius: 50%;
      width: 1.5em;
      line-height: 1.5em;
      margin-right: 3px;
      text-align: center;

      transition-property: background-color, color;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      cursor: pointer;
      border-bottom: none;
      &:hover {
        background-color: var(--primary-color);
      }
    }
    .bibref-authors {
      font-size: var(--primary-font-size-small);
    }
    .bibref-title {
      font-style: italic;
    }
    .bibref-journal {
      font-size: var(--primary-font-size-small);
      font-weight: var(--primary-font-weight-semibold);
    }
    .bibref-series {
      color: var(--secondary-text-color-dark);
      font-size: var(--primary-font-size-tiny);
    }
  }
}

.pagination {
  user-select: none;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .page-prev,
  .page-next {
    @media (min-width: 440px) {
      width: 110px;
    }
    @media (max-width: 440px) {
      width: 10%;
    }
  }
  .page-prev {
    text-align: left;
  }
  .page-next {
    text-align: right;
  }
  .page-nums {
    text-align: center;
    .page-num-current {
      background-color: var(--primary-color-light);
      color: var(--secondary-text-color);
      border-radius: 20px;
      border: 0;
      padding: 2px 6px;
      text-decoration: none;
    }
  }
}

.disqus {
  @media (min-width: 600px) {
    margin-left: 10%;
    margin-right: 10%;
  }
  @media (min-width: 440px) and (max-width: 600px) {
    margin-left: 5%;
    margin-right: 5%;
  }
  @media (max-width: 440px) {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.taglist {
  text-align: center;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.pagination-in-post {
  @media (min-width: 600px) {
    margin-left: 10%;
    margin-right: 10%;
  }
  @media (min-width: 440px) and (max-width: 600px) {
    margin-left: 5%;
    margin-right: 5%;
  }
  @media (max-width: 440px) {
    margin-left: 2%;
    margin-right: 2%;
  }
  margin-bottom: 30px;
  margin-bottom: 30px;
}

.old-post-flag {
  user-select: none;
  text-align: center;
  svg {
    top: 3px;
  }
  .old-post-text {
    display: inline-block;
    background: hsla(0, 0%, 67%, 0.15);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: var(--primary-font-size-tiny);
    color: var(--secondary-color-dark);
    span {
      display: inline-block;
    }
  }
}

.license-wrap {
  text-align: center;
}

.license {
  margin-top: 30px;
  margin-bottom: 10px;
  user-select: none;
  text-align: center;
  svg {
    top: 3px;
  }
  display: inline-block;
  background: hsla(0, 0%, 67%, 0.15);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: var(--primary-font-size-tiny);
  color: var(--secondary-color-dark);
  span {
    display: inline-block;
  }
  a {
    border: 0;
  }
}
