$min-ani-duration: 1s;

.blog-gallery {
  text-align: center;
  display: block;
  transition-duration: $min-ani-duration;
  transition-property: height;

  .blog-gallery-block {
    width: 80%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;

    figure {
      a {
        border: 0;
      }
    }
    figcaption {
      display: none;
    }
    img {
      width: 100% !important;
      height: auto !important;
      border-radius: 7px;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(0.9);
      }
    }

    .gallery-figure {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      height: auto;
      will-change: transform;
      will-change: opacity;
      transition-property: transform opacity;
      border: 0px white solid;
    }

    .gallery-figure-initial {
      display: none;
    }

    .gallery-figure-show {
      z-index: 2;
    }
    .gallery-figure-hide {
      z-index: 1;
    }

    .travel-title {
      display: block;
      position: absolute;
      text-align: center;
      transition: opacity 0.1s ease-in-out;

      @media (max-width: 440px) {
        font-size: var(--primary-font-size);
      }
      @media (min-width: 440px) {
        font-size: var(--primary-font-size-huge);
      }
      font-weight: var(--primary-font-weight-light);
      color: var(--primary-color);
      .travel-title-location {
        font-style: italic;
      }
    }
  }
}

.pswp__caption {
  p {
    margin: 0;
    &.text {
      font-style: italic;
    }
    &.meta {
      text-align: right;
      .location {
        font-style: italic;
        font-weight: var(--primary-font-weight-semibold);
      }
    }
  }
}

$ani-num: 8;
@mixin gallery-figure-animation {
  @for $i from 1 through $ani-num {
    .gallery-figure-animation-#{$i} {
      transition-duration: $i * 0.05 + $min-ani-duration;
    }
  }
}
@include gallery-figure-animation;

.gallery-selector {
  user-select: none;
  padding-top: 0px;
  padding-bottom: 2px;
  line-height: 18px;
  @media (max-width: 440px) {
    font-size: var(--primary-font-size-small);
  }
  @media (min-width: 440px) {
    font-size: var(--primary-font-size);
  }
}

#gallery-taglist {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: var(--primary-font-weight-light);
}

.taglist {
  .label {
    font-weight: var(--primary-font-weight-semibold);
    @media (max-width: 440px) {
      font-size: var(--primary-font-size-small);
    }
    @media (min-width: 440px) {
      font-size: var(--primary-font-size);
    }
  }
}
