/* Define global colors, fonts, etc. */

html[data-theme="dark"] {
  --background-color: #202020;
  
  --primary-color: #4d9ee9;
  --primary-color-light: #164083;
  --primary-color-dark: #6cbdff;
  --secondary-color: #2c2c2c;
  --secondary-color-light: #292929;
  --secondary-color-dark: #c2c2c2;

  --selection-color: #2a2d30;

  --primary-text-color: #181818;
  --secondary-text-color: #c2c2c2;
  --secondary-text-color-light: #e5e5e5;
  --secondary-text-color-dark: #747474;
  
  --github-text-color: #d3d3d3;
  --github-background-color: #292929;
  --github-border-color: #414141;
  
  --mma-color: #ce4632;

  --codeblock-background-color: #272727;
  --codeblock-background-color-highlight: #555239;
  --codeblock-color: #b8b8b8;
  
}

:root {
  --background-color: #fff;
  --primary-color: #1976d2;
  --primary-color-light: #97c2ff6c;
  --primary-color-dark: #004ba0;
  --secondary-color: #cfd8dc;
  --secondary-color-light: #f4f4f4;
  --secondary-color-dark: #999;

  --selection-color: #cfd8dc;

  --primary-text-color: #fff;
  --secondary-text-color: #000;
  --secondary-text-color-light: #000;
  --secondary-text-color-dark: #c2c2c2;

  --github-text-color: #1976d2;
  --github-background-color: #f6f8fa;
  --github-border-color: #eaecef;

  --mma-color: #d21c00;

  --codeblock-background-color: #f1f3f4;
  --codeblock-background-color-highlight: #fffcd9;
  --codeblock-color: #111111;

  --primary-font: myriad-pro, sans-serif;
  --primary-font-weight-light: 300;
  --primary-font-weight: 400;
  --primary-font-weight-semibold: 600;
  --primary-font-weight-bold: 700;
  --primary-font-size: 16px;
  --primary-font-size-tiny: 12px;
  --primary-font-size-small: 14px;
  --primary-font-size-big: 18px;
  --primary-font-size-huge: 24px;
  --secondary-font: benton-modern-display, sans-serif;
}

/* General objects */

.btn-reverse {
  transition-property: background-color, border, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  cursor: pointer;
  color: var(--secondary-text-color);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 2.5px;
  border-radius: 20px;
  text-decoration: none;
  border: 0.7px var(--secondary-color) solid;

  &:hover {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: 0.7px var(--primary-color) solid;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
}

.btn-normal {
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  cursor: pointer;
  color: var(--primary-color);
  border-radius: 20px;
  border: 0;
  padding: 2px 6px;
  text-decoration: none;
  &:hover {
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background: var(--primary-color);
    color: var(--primary-text-color);
    border: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
}

.link-normal {
  text-decoration: none;
  outline: 0;
  border-bottom: solid 0.7px transparent;
  transition: color 0.3s ease-out, border-bottom-color 0.3s ease-out;
  color: var(--primary-color);
  &:hover {
    text-decoration: none;
    border-bottom: solid 0.7px;
    border-bottom-color: inherit;
  }
}

.link-black {
  text-decoration: none;
  outline: 0;
  border-bottom: solid 1px transparent;
  transition: color 0.3s ease-out, border-bottom-color 0.3s ease-out;
  color: var(--secondary-text-color);
  :hover {
    text-decoration: none;
    border-bottom: solid 1px;
    border-bottom-color: inherit;
  }
}

.badge-normal,
.badge-normal:hover {
  cursor: default;
  color: var(--secondary-text-color-light);
  background-color: var(--secondary-color-light);
  border: 0.7px var(--secondary-color) solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 2.5px;
  margin-right: 5px;
  border-radius: 20px;
  text-decoration: none;
}

.badge-reverse {
  cursor: default;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 20px;
  text-decoration: none;
}

/* Tooltip */

.my-tooltip {
  display: inline-block;
  position: relative;
  p {
    text-align: center;
  }
  .my-tooltip-target {
    text-decoration: none;
    border-bottom: solid 0.7px;
    border-bottom-color: inherit;
  }
  .my-tooltip-bubble {
    position: relative;
    top: -6px;
    background: var(--primary-color);
    color: var(--primary-text-color);
    font-size: var(--primary-font-size-tiny);
    width: 50px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0px 5px;
  }
  .bottom,
  .right {
    min-width: 150px;
    max-width: 300px;
    padding: 5px 10px;
    color: var(--secondary-text-color);
    background-color: var(--secondary-color-light);
    font-weight: var(--primary-font-weight);
    font-size: var(--primary-font-size-small);
    border-radius: 5px;
    position: absolute;
    z-index: 9999;
    box-sizing: border-box;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
    i {
      position: absolute;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: var(--secondary-color-light);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
      }
    }
  }
  &:hover {
    .bottom,
    .right {
      visibility: visible;
      opacity: 1;
    }
  }
  .bottom {
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    i {
      bottom: 100%;
      left: 50%;
      margin-left: -12px;
      width: 24px;
      height: 12px;
      &::after {
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
      }
    }
  }
  .right {
    top: 50%;
    left: 100%;
    margin-left: 20px;
    transform: translate(0, -50%);
    i {
      top: 50%;
      right: 100%;
      margin-top: -12px;
      width: 12px;
      height: 24px;
      &::after {
        left: 0;
        top: 50%;
        transform: translate(50%, -50%) rotate(-45deg);
      }
    }
  }
}

/* Selection style */

::selection {
  background: var(--selection-color);
  text-shadow: none;
}

/* Page body style */

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
  font-style: normal;
  color: var(--secondary-text-color);
  line-height: 1.5;
  font-size: var(--primary-font-size);
  margin-left: 5%;
  margin-right: 5%;
  min-width: 300px;
}

.wrapper {
  max-width: 720px;
  margin: 0 auto;
}

.container {
  margin-top: 40px;
  max-width: 800px;
}

/* Page head style */

.linksep {
  color: var(--secondary-color-dark);
  position: relative;
  display: inline-block;
  font-size: 10px;
  bottom: 3px;
  @media (min-width: 440px) {
    margin-left: 3px;
  }
  @media (max-width: 440px) {
    margin-left: -0px;
    margin-right: -2.5px;
  }
}

.longshort:after {
  @media (min-width: 440px) {
    content: attr(data-long);
  }
  @media (max-width: 440px) {
    content: attr(data-short);
  }
}

/* for footer*/

.footer {
  user-select: none;
  text-align: right;
  font-size: 0.75em;
  color: var(--secondary-color-dark);
  margin-top: 40px;
  max-width: 800px;
  margin-bottom: 50px;
}

.footer-sep {
  border-top: 1px solid var(--secondary-color-light);
  margin-top: 2px;
}

/* return home buttom */
.returnhome {
  text-align: right;
}

/* For 404 page */
.image404 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 600px) {
    width: 40%;
  }
  @media (max-width: 600px) {
    width: 240px;
  }
}

.text404 {
  text-align: center;
  font-family: var(--primary-font);
  margin-bottom: 30px;
  @media (min-width: 440px) {
    font-size: 30pt;
  }
  @media (max-width: 440px) {
    font-size: 15pt;
  }
}

/* svg icon */
.has-icon svg {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  position: relative;
  top: 2.5px;
}

/* For mma */
.mma {
  color: var(--mma-color);
}

.mma-notebook {
  margin-top: 5px;
  text-align: center;
  .mma-notebook-trigger {
    user-select: none;
    transition-duration: 0.3s;
    transition-property: background-color, color;
    transition-timing-function: ease-out;
    cursor: pointer;
    color: var(--primary-color);
    border-radius: 20px;
    border: 0;
    padding: 0px 7px 1px 6px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    &:hover {
      background: #d21c0049;
    }
    .logo-img {
      position: relative;
      top: 3.5px;
      left: 1px;
      width: 15px;
    }
    .trigger-text {
      margin-left: 1.5px;
      font-size: var(--primary-font-size-small);
      &:hover {
        color: #d83920;
      }
    }
  }
  .mma-notebook-container {
    & > div > div:nth-child(2) {
      display: none;
    }
  }
}

.github-commit-sha {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: var(--github-text-color);
  padding: 0.1em 0.4em;
  font-size: 90%;
  font-weight: 400;
  background-color: var(--github-background-color);
  border: 1px solid var(--github-border-color);
  border-radius: 0.2em;
  outline: 0;
  text-decoration: none;
  &:hover {
    border: 1px solid var(--github-border-color);
  }
}

.more-to-come {
  text-align: center;
  font-size: 250%;
  font-weight: bolder;
  color: var(--secondary-color-dark);
  opacity: 0.5;
  margin-top: 100px;
  margin-bottom: 100px;
}

// header toggles
.header-toggles {
  display: flex;
  justify-content: space-between;
}

.language-select {
  user-select: none;
  a {
    font-size: var(--primary-font-size-small);
  }
}

// theme switcher

.theme-switch-wrapper {
  align-items: center;
  margin-top: 2.5px;
  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 22px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #202020;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
}

.slider:before {
  background-color: #f5f5f5;
  bottom: 3px;
  content: "";
  height: 16px;
  left: 4.5px;
  position: absolute;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  width: 16px;
}

input:checked + .slider {
  background-color: var(--secondary-text-color);
}

input:checked + .slider:before {
  background-color: var(--background-color);
  transform: translateX(17px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
