/* Section style */
.section {
  margin-left: 2px;
  background-image: linear-gradient(var(--secondary-color), var(--secondary-color));
  background-repeat: no-repeat;
  background-size: 1px calc(100% - 45px);
  background-position: left bottom;
  padding-left: 13px;
  h4 {
    font-size: var(--primary-font-size-huge);
    font-weight: var(--primary-font-weight-light);
    margin-left: -15px;
    margin-bottom: 10px;
  }
  .section-list {
    margin-left: 0px;
  }
}

/* Header of home */
.header {
  @media (min-width: 685px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 20px;
  }
  @media (max-width: 685px) {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0%;
  }

  @media (max-width: 685px) {
    .header-left {
      display: table-footer-group;
    }
    .header-right {
      display: table-header-group;
    }
  }

  .header-left,
  .header-right {
    width: fit-content;
  }

  .site-title {
    .name {
      display: inline;
      font-family: var(--secondary-font);
      font-weight: 600;
      font-style: normal;
      color: var(--primary-color);
      .initial {
        text-transform: uppercase;
        color: var(--primary-color-dark);
      }
      @media (min-width: 685px) {
        font-size: 50px;
        .initial {
          font-size: 90px;
        }
        .firstname {
          letter-spacing: -7px;
        }
        .lastname {
          letter-spacing: -24px;
        }
      }
      @media (max-width: 685px) {
        font-size: 40px;
        .initial {
          font-size: 60px;
        }
        .firstname {
          letter-spacing: -7px;
        }
        .lastname {
          letter-spacing: -19px;
        }
      }
    }
  }

  .header-right {
    .center a {
      @media (max-width: 410px) {
        font-family: myriad-pro-condensed, sans-serif;
        font-weight: var(--primary-font-weight-semibold);
        font-style: normal;
      }
      @media (max-width: 780px) and (min-width: 685px) {
        font-family: myriad-pro-condensed, sans-serif;
        font-weight: var(--primary-font-weight-semibold);
        font-style: normal;
      }
    }
    .personal-info {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: right;
      .institute {
        color: var(--primary-color);
        font-weight: var(--primary-font-weight-semibold);
        margin-top: 20px;
      }
      .contact {
        color: var(--primary-color);
        font-weight: var(--primary-font-weight-semibold);
        margin-top: 20px;
      }
      .email {
        font-style: italic;
      }
      .institute-item,
      .contact-item {
        font-size: var(--primary-font-size-small);
        font-family: var(--primary-font);
        font-weight: var(--primary-font-weight-semibold);
      }
      .institute-item a {
        color: var(--secondary-text-color);
      }
    }
  }
}

.site-links {
  user-select: none;
  min-width: 320px;
  a {
    font-weight: var(--primary-font-weight);
    svg {
      top: 1.5px;
    }
    @media (min-width: 440px) {
      font-size: var(--primary-font-size);
    }

    @media (max-width: 440px) {
      font-size: var(--primary-font-size-small);
    }
  }
}

/* publiction style */
.pubitem {
  margin-bottom: 10px;
  .pubbadges {
    margin-right: 3%;
    @media (max-width: 650px) {
      display: inline-block;
    }
    @media (min-width: 650px) {
      display: flex;
      justify-content: space-between;
    }

    .publinks {
      user-select: none;
      display: inline;
      font-size: var(--primary-font-size-tiny);
      line-height: 2;
    }
    .pubmeta {
      user-select: none;
      @media (min-width: 650px) {
        float: right;
      }
      div {
        display: inline;
        font-size: var(--primary-font-size-tiny);
        line-height: 2;
      }
    }
  }
  .pubtitle {
    font-size: var(--primary-font-size-big);
    font-weight: var(--primary-font-weight);
    color: var(--primary-color);
  }
  .collaborators {
    display: inline-block;
    margin-left: 0;
    color: var(--secondary-color-dark);
    font-size: var(--primary-font-size-small);
    .authorsep {
      float: left;
      margin-right: 5px;
    }
    .author {
      float: left;
    }
    .me {
      a {
        color: var(--secondary-text-color);
        font-weight: var(--primary-font-weight-semibold);
      }
    }
  }
}

/* Softwares style */
.softdesc {
  margin-right: 30px;
  word-wrap: break-word;
  font-size: var(--primary-font-size-small);
  p {
    margin: 0;
  }
}

/* Abstract style */
.abstract {
  margin-bottom: 10px;
  margin-right: 30px;
  word-wrap: break-word;
  font-size: var(--primary-font-size-small);
}

.read-more-box {
  user-select: none;
  height: 68px;
  max-height: 68px;
  position: relative;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  p {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .read-more-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0 0 80px;
    content: "";
    background-image: linear-gradient(
      to bottom,
      var(--background-color-opacity) 0%,
      var(--background-color) 75%,
      var(--background-color) 100%
    );
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .read-more-btn {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 4px;
    a {
      float: right;
      margin-right: 4px;
    }
  }
}

body.modal-open .container {
  filter: blur(4px);
}

.modal {
  /* The Modal (background) */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0;
  will-change: transform, opacity;
  transform: scale(1.15);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  &.visible {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
      opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  }
  .modal-content {
    display: float;
    background-color: var(--background-color);
    border: 0px solid var(--secondary-color-dark);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    .modal-head {
      display: flex;
      justify-content: space-between;
      .modal-title {
        font-size: var(--primary-font-size-big);
        font-weight: var(--primary-font-weight-semibold);
        margin-left: 5%;
        margin-bottom: 0;
      }
      .close-bibtex {
        color: var(--secondary-text-color);
        margin-right: 3%;
      }
    }
    .code-bibtex {
      outline: none;
      font-size: var(--primary-font-size-small);
      font-family: var(--primary-font);
      margin-top: 0;
      margin-left: 5%;
      width: 84%;
      margin-right: 5%;
      resize: none;
      border-radius: 6px;
      background-color: var(--secondary-color-light);
      color: var(--secondary-text-color);
      padding-left: 3%;
      padding-right: 3%;
      padding-top: 10px;
      &:hover {
        //color: var(--primary-color-light);
      }
      &:focus {
        color: var(--primary-color-dark);
      }
    }
    .modal-buttons {
      margin-top: 5px;
      margin-bottom: 0;
      display: flex;
      justify-content: space-around;
      .copy-bibtex,
      .download-bibtex {
        font-size: var(--primary-font-size-small);
        font-weight: var(--primary-font-weight);
      }
    }
    .modal-error {
      font-weight: var(--primary-font-weight-semibold);
      margin-top: 5px;
      margin-left: 5%;
      color: #f04a4a;
    }
  }
}

#modal .modal-content {
  margin: 100px auto;
  width: 80%;
  min-width: 280px;
  max-width: 400px;
}

#modal-copied .modal-content {
  margin: 300px auto;
  width: fit-content;
  height: fit-content;
  font-size: 25pt;
  font-weight: 600;
  border: 0px white;
}

/* Project page style */
.project-item {
  margin-top: 50px;
  .project-thumbnail {
    a {
      border: 0;
      &:hover {
        border: 0;
      }
      img {
        min-width: 150px;
        transition-duration: 0.3s;
        &:hover {
          opacity: 0.7;
          box-shadow: red($color: #000000);
        }
      }
    }
  }
  .project-text {
    .project-title {
      color: var(--secondary-text-color-light);
      font-weight: var(--primary-font-weight-semibold);
    }
    .project-summary {
      a {
        text-decoration: none;
        outline: 0;
        border-bottom: solid 0.7px transparent;
        transition: color 0.3s ease-out, border-bottom-color 0.3s ease-out;
        color: var(--primary-color);
        &:hover {
          text-decoration: none;
          border-bottom: solid 0.7px var(--primary-color);
          border-bottom-color: inherit;
        }
      }
    }
  }
  .project-thumbnail {
    img {
      padding: -20px;
    }
  }

  // Large screen
  @media (min-width: 685px) {
    .project-text {
      .project-title {
        font-size: var(--primary-font-size-huge);
      }
      .project-read-more {
        text-align: center;
      }
    }
    .project-thumbnail {
      margin-right: 20px;
      margin-top: 20px;
      img {
        width: 100%;
      }
    }
  }
  // Medium screen
  @media (max-width: 685px) and (min-width: 440px) {
    .project-text {
      .project-title {
        font-size: var(--primary-font-size-huge);
      }
      .project-read-more {
        visibility: hidden;
      }
    }
  }
  // Small screen
  @media (max-width: 440px) {
    .project-text {
      .project-title {
        font-size: var(--primary-font-size-big);
      }
      .project-read-more {
        visibility: hidden;
      }
    }
  }
  // Medium / small screen
  @media (max-width: 685px) {
    .project-thumbnail {
      img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
      }
    }
  }
}
.project-item {
  // Large screen
  @media (min-width: 685px) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-bottom: 20px;
    .project-left {
      width: 40%;
    }
    .project-right {
      width: 60%;
    }
  }
  // Small screen
  @media (max-width: 685px) {
    display: table;
    width: 95%;
    margin-bottom: 20px;
    margin-right: 5%;
    .project-left {
      display: table-footer-group;
    }
    .project-right {
      display: table-header-group;
    }
  }
}

.project-page {
  margin-top: 50px;
  text-align: center;
  .project-title {
    font-weight: var(--primary-font-weight-semibold);
    color: var(--primary-color);
    margin-bottom: 8px;
  }
  .project-thumbnail {
    img {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .project-text {
    //text-align: left;
  }
  // Large screen
  @media (min-width: 685px) {
    .project-title {
      font-size: var(--primary-font-size-huge);
    }
    .project-thumbnail {
      img {
        width: 400px;
      }
    }
  }
  // medium screen
  @media (max-width: 685px) and (min-width: 440px) {
    .project-title {
      font-size: var(--primary-font-size-huge);
    }
    .project-thumbnail {
      img {
        width: 70%;
        min-width: 355px;
      }
    }
  }
  // Small screen
  @media (max-width: 440px) {
    .project-title {
      font-size: var(--primary-font-size-big);
    }
    .project-thumbnail {
      img {
        width: 90%;
      }
    }
  }
}
